<!DOCTYPE html>
<html ng-app="recipeApp">
	<head>
	</head>
	
	<body ng-controller="recipeController">
		<div>
			<h1>RefrigiChef</h1>
			<h3>Recipes made from what you have.</h3>
		{{27 + 30}}
		<!--<ng-view></ng-view>-->
		<form>
			Username:
			<br/>
			<input ng-model="searchRecipe" placeholder="Username or email"></input>
			<br />
			<button ng-click="getRecipeData()">Login</button>
		</form>
		<div>
			<!--{{recipe}}-->
		</div>
		
		</div>
		
		<div><a href="http://www.food2fork.com">Powered By Food2Fork.com</a></div>
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
	<!-- Firebase -->
	<!--<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- Angular Fire -->
	<!--<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>-->
    
	<script src="app.js"></script>
    <script src="controllers/mainCtrl.js"></script>
    <script src="services/service.js"></script>
	</body>
	
</html>