/*Index page/ items that should appear on every page*/
body {
	/*height: 1000px;*/
	width: 1409px;
	background-color: #635166;
	background-repeat: repeat;
}

.bigLogo {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
	z-index: -1;
}

.smallLogo {
	height: 75px;
	widows: 75px;
}

.header {
	text-align: center;
	color: #F3A542;
}

#appName {
	font-family: Papyrus;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bodyText {
	color: #fed94a;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input {
	color: black;
}

/*home page*/
.logIn {
	text-align: center;
}

/*Refrigerator Page*/
.nav {
	background-color: #3b0a43
}

.barBg {
	background-color: #3b0a43
}

.nav a {
	color: #f3a542;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.recipeBg {
	border: 2px solid lightgray;	
}

.ingredientForm {
	height: 100%;
}

.ingredientInput {
	width: 500px;
	text-align: center;
}

.refrigeratorImages {
	display: inline;
	height: 270px;
	width: 100%;
	margin: 0px;
	padding: 0px;
		
} 
