/*Index page/ items that should appear on every page*/
body {
	height: 1000px;
	background: url('http://ec.l.thumbs.canstockphoto.com/canstock9313664.jpg') center center no-repeat;
	background-size: 500px;
	/*background-repeat: no-repeat;*/
}

.mainLogo img {
	/*text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;*/
	
	
}

.header {
	text-align: center;
}

#appName {
	font-family: Papyrus;
}

/*home page*/
.logIn {
	text-align: center;
}

/*Refrigerator Page*/
.ingredientForm {
	height: 100%;
}

.refrigeratorImages {
	display: inline;
	height: 200px;
	width: 250px;
	margin: 5px;
		
} 
