<nav class="navbar navbar-default">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="/#/refrigerator">Refrigerator</a></li>
		<li role="presentation" class="active"><a href="/#/pantry">Pantry</a></li>
		<li role="presentation"><a href="/#/recipes/:recipeId">Recipes</a></li>
		<li role="presentation"><a href="/#/shopList">Grocery List</a></li>
		<li role="presentation"><a href="/#/mealPlan">Meal Plans</a></li>
		<li role="presentation"><a href="/#/">Logout</a></li>
	</ul>
</nav>

List of items in the Pantry!
<br/>
<input ng-model="pantryItem"/>
<button ng-click="addPantryItem()">Add Pantry Item</button>