<div class="navbar navbar-default navbar-responsive-collapse">
		<div class="container" role="navigation">
			<ul class="nav nav-pills">
				<li role="presentation"><a href="/#/refrigerator">Refrigerator</a></li>
				<li role="presentation"><a href="/#/pantry">Pantry</a></li>
				<li role="presentation"><a href="/#/recipes/:recipeId">Recipes</a></li>
				<li role="presentation"><a href="/#/shopList">Grocery List</a></li>
				<li role="presentation"><a href="/#/mealPlan">Meal Plans</a></li>
				<li role="presentation"><a href="/#/" ng-click="logout()">Logout</a></li>
			</ul>
		</div>
</div>

<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .dateColor {
    color: orange;
    font-size: 20px;
  }
  
</style>
<div>
    <pre class="dateColor">Selected date is: <em>{{dateObject | date:'fullDate' }}</em></pre>
    <div ng-show="savedRecipes[meals[dateString]]">
      <a ng-href="{{savedRecipes[meals[dateString]].source_url}}"><img class="mealPlanImages" ng-src="{{savedRecipes[meals[dateString]].image_url}}"></img></a>
		<br/>
		{{savedRecipes[meals[dateString]].title}}
    </div>
    <h4>Meal Plans</h4>
    <div style="display:inline-block; min-height:290px;">
      <datepicker ng-model="dateObject" min-date="minDate" max-date='maxDate'></datepicker>
    </div>
    
    <div ng-hide="savedRecipes[meals[dateString]]">
	<span class="col-md-4 recipeBg" ng-repeat="recipe in savedRecipes">
		<a ng-href="{{recipe.source_url}}"><img class="refrigeratorImages" ng-src="{{recipe.image_url}}"></img></a>
		<br/>
		{{recipe.title}}
    <button class="buttonFont" ng-click="saveRecipeDate(recipe)">Save Recipe to Date</button>
	</span>
  
</div>


</div>