<nav class="navbar navbar-default">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="/#/refrigerator">Refrigerator</a></li>
		<li role="presentation" class="active"><a href="/#/pantry">Pantry</a></li>
		<li role="presentation"><a href="/#/recipes/:recipeId">Recipes</a></li>
		<li role="presentation"><a href="/#/shopList">Grocery List</a></li>
		<li role="presentation"><a href="/#/mealPlan">Meal Plans</a></li>
		<li role="presentation"><a href="/#/">Logout</a></li>
	</ul>
</nav>
<span class="ingredientForm" class="col-md-2">
	<div>Welcome {{user.name}}!</div>
	<ul>
			<li><input ng-model="ingredient1" /></li>
			<br/>
			<li><input ng-model="ingredient2" /></li>
			<br/>
			<li><input ng-model="ingredient3" /></li>
			<br/>
			<li><input ng-model="ingredient4" /></li>
			<br/>
			<li><input ng-model="ingredient5" /></li>
	</ul>
	<button ng-click="getRecipe()" type="button" class="btn btn-default btn-sm">Get Recipes</button>
</span>

<div>
	<span class="col-md-4 col-md-push-2" ng-repeat="recipe in recipes">
		<a ng-href="{{recipe.source_url}}"><img class="refrigeratorImages" ng-src="{{recipe.image_url}}"></img></a>
		<br/>
		{{recipe.title}}
		
	</span>
</div>

<!--<div class="col-md-1"></div>-->