<nav class="navbar navbar-custom">
	<div class="container">
	<ul class="nav nav-tabs">	
		<li role="presentation" class="dropdown"><a href="/#/refrigerator">Refrigerator</a></li>
		<li role="presentation" class="dropdown"><a href="/#/pantry">Pantry</a></li>
		<li role="presentation" class="dropdown"><a href="/#/recipes/:recipeId">Recipes</a></li>
		<li role="presentation" class="dropdown"><a href="/#/shopList">Grocery List</a></li>
		<li role="presentation" class="dropdown"><a href="/#/mealPlan">Meal Plans</a></li>
		<li role="presentation" class="dropdown"><a ng-click="logout()" href="/#/">Logout</a></li>
	</ul>
	</div>
</nav>
<div class="container">
	<div class="ingredientForm col-md-8" >
		<div>Welcome: {{user.name}}!</div>
		
				<input class="ingredientInput" ng-model="ingredient" />
		<br/>
		<button ng-click="getRecipe()" type="button" class="btn btn-default btn-sm">Get Recipes</button>
	</div>
	
	<div class="col-md-8">
		<form name="recipeList">
			<span class="col-md-4 recipeBg" ng-repeat="recipe in recipes">
				<a ng-href="{{recipe.source_url}}"><img class="refrigeratorImages" ng-src="{{recipe.image_url}}"></img></a>
				<br/>
			<label>	
				{{recipe.title}}
				<input type="checkbox" ng-click="saveRecipe()" ng-true-value="'YES'" ng-false-value="'NO'"/>
			</label>	
			</span>
		</form>
	</div>
	
	<!--<input type="text" ng-model="data.text"/>
	
	<h1>You said: {{ data.text }}</h1>-->
</div>

<!--<div class="col-md-1"></div>-->