<div class="navbar navbar-custom">
	<div class="container">
		
		<button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		
		<a class="navbar-brand" href="/#/refrigerator"><img class="brandLogo" src="RefrigiChef-Logo.png" alt="Your Logo"></a>
		
		<div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/#/refrigerator">Refrigerator</a>
				</li>
				
				<li class="dropdown">
					<a href="/#/" class="dropdown-toggle" data-toggle="dropdown">Services<strong class="caret"></strong></a>
					<ul class="dropdown-menu">	
							<li><a href="/#/pantry">Pantry</a></li>
							<li><a href="/#/recipes/:recipeId">Recipes</a></li>
							<li><a href="/#/shopList">Grocery List</a></li>
							<li><a href="/#/mealPlan">Meal Plans</a></li>
							<li class="divider"></li>
							
					</ul> <!-- end dropdown-menu -->		
				</li>
			</ul>
			
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> My Account<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-refresh"></span> Update Profile</a>
						</li>
						<li>
							<a href="#"><span class="glyphicon glyphicon-briefcase"></span> Billing</a>
						</li>
						<li class="divider"></li>
								
						<li><a ng-click="logout()" href="/#/">Logout</a></li>
					</ul>
				</li>
						
			</ul> <!-- end nav -->
		</div> <!-- end nav-collapse -->
	</div> <!-- end container -->
</div> <!-- end navbar -->
<div class="container">
	
	<div class="btn-group" dropdown keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdown-toggle>
            Dropdown with keyboard navigation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem"><a href="/#/pantry">Pantry</a></li>
            <li role="menuitem"><a href="/#/recipes/:recipeId">Recipes</a></li>
            <li role="menuitem"><a href="/#/shopList">Grocery List</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="/#/mealPlan">Meal Plans</a></li>
        </ul>
    </div>

    <script type="text/ng-template" id="dropdown.html">
        <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
          	<li role="menuitem"><a href="/#/pantry">Pantry</a></li>
            <li role="menuitem"><a href="/#/recipes/:recipeId">Recipes</a></li>
            <li role="menuitem"><a href="/#/shopList">Grocery List</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="/#/mealPlan">Meal Plans</a></li>
        </ul>
    </script>

	
	<div class="ingredientForm col-md-8" >
		<div>Welcome: {{user.name}}!</div>
		
				<input class="ingredientInput" ng-model="ingredient" />
		<br/>
		<button ng-click="getRecipe()" type="button" class="btn btn-default btn-sm">Get Recipes</button>
	</div>
	
	<div class="col-md-8">
		<form name="recipeList">
			<span class="col-md-4 recipeBg" ng-repeat="recipe in recipes">
				<a ng-href="{{recipe.source_url}}"><img class="refrigeratorImages" ng-src="{{recipe.image_url}}"></img></a>
				<br/>
			<label>	
				{{recipe.title}}
				<input type="checkbox" ng-click="saveRecipe()" ng-true-value="'YES'" ng-false-value="'NO'"/>
			</label>	
			</span>
		</form>
	</div>
	
	<!--<input type="text" ng-model="data.text"/>
	
	<h1>You said: {{ data.text }}</h1>-->
</div>

<!--<div class="col-md-1"></div>-->