<!--This will be the initial page that someone see's when they visit the url.-->

<div class="logIn">
	<form>
		<input ng-model="email" placeholder="Email or Username"/>
		<input ng-model="password" placeholder="Password"/>
		<button type="button" class="btn btn-default btn-sm" ng-click="createUser()"><a href="/#/refrigerator">Log In</a></button>
		<br/>
		
		<button ng-click="loginWithGoogle()" type="button" class="btn btn-default btn-sm">
			Google Sign In
		</button>
		<button ng-click="loginWithFacebook()" type="button" class="btn btn-default btn-sm">
			Facebook Sign In
		</button>
	</form>
</div>


